{% extends 'base.html' %}
{% block title %} REGISTER {% endblock %}
{% block content %}
<section style="background-color: blueviolet; height: 100vh;">
    <div class="container" style="height: 100%;">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
            <form action="" method="POST">
                <label style="font-size: 2rem;" for="name">Ad</label> <br>
                <input style="font-size: 2rem;" type="text" name="name"> <br>
                <label style="font-size: 2rem;" for="surname">Soyad</label> <br>
                <input style="font-size: 2rem;" type="text" name="surname"> <br>
                <label style="font-size: 2rem;" for="email">Email</label> <br>
                <input style="font-size: 2rem;" type="text" name="email"> <br>
                <label style="font-size: 2rem;" for="password">Parola</label> <br>
                <input style="font-size: 2rem;" type="password" name="password"> <br><br>
                <button style="font-size: 2rem;" type="submit">Kaydol</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                 <ul class=flashes >
                {% for message in messages %}
                <div class="alert alert-danger  my-3"  role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</section>
{% endblock %}